body{
margin:0;
font-family:Arial;
background:#111827;
color:white;
}

.app{
width:90%;
max-width:700px;
margin:40px auto;
background:#1f2937;
padding:25px;
border-radius:20px;
box-shadow:0 0 20px #000;
}

h1{
text-align:center;
}

.sub{
text-align:center;
color:#aaa;
}

#chat{
height:450px;
overflow:auto;
background:#111827;
padding:15px;
border-radius:15px;
}

.bot,.user{
padding:12px;
margin:10px;
border-radius:12px;
}

.bot{
background:#374151;
}

.user{
background:#2563eb;
text-align:right;
}

.input-box{
display:flex;
margin-top:15px;
}

input{
flex:1;
padding:15px;
border-radius:10px;
border:none;
}

button{
margin-left:10px;
padding:15px 25px;
border:none;
border-radius:10px;
background:#2563eb;
color:white;
}
